/*********************************** GENERAL BODY STYLING ***********************************/

/* COLOR CODES
   white - #fff
   nantucket red - #922
   senate blue - #023
   mist gray - #bbb
   pinstripe gray - #404040
*/

body {
  color: #222;
  font-size: 1em;
  font-family: 'Old Standard TT', Helvetica, serif;
  margin: 0 auto;
}



/*********************************** MAIN STRUCTURAL STYLES ***********************************/

 /*  HEADER PAGE ELEMENTS  */

.title_banner {
  padding: 6em 0;
  background-image:  
  url(http://i.imgur.com/HQxhn63.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: #922 solid 1em;
  border-bottom: #bbb solid 0.2em;
}

.title_text {
  margin-bottom: 0.1em;
  color: #fff;
  font-family: 'Old Standard TT', Helvetica, serif;
  font-size: 1.8em;
  margin-bottom: -0.4em;
}

.job_title {
  margin-top: 0;
}

.name_text {
  margin-bottom: -0.2em;
  color: #023;
  font-family: 'Old Standard TT', Helvetica, serif;
  font-size: 6em;
  font-weight: 700;
  line-height: 0.01em;
  text-transform: uppercase;
  padding: 0 0 0.8em 0;
  margin-top: 0.09;
}


/*  NAVIGATION BAR AND PAGE LINK ELEMENTS  */

.nav_content {
  background: #F2F2F2; 
  outline: 1px solid #bbb;
  margin-top: 2em;
}

.page_links {
  text-align: center;
  list-style: none;
  padding: 15px;
}

.page_links li {
  display: inline-block;
  margin-left: 1em;
}

/*  ABOUT ME Q & A SECTIONS  */

.about_container {
  margin-top: 3em;
  padding: 0 0 2em 0;
}

/*.intro,
.location,
.questions > h1 {
  margin-top: 1.8em;
}*/

.intro,
.location,
.questions {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 0;
}

.questions > h2 {
  color: #bbb;
}


hr {
  width: 38em;    /*  ABOUT ME - PROJECT SEPARATION  */
}

/*  PROJECT SECTION ELEMENTS  */

.project {
  margin: 0 auto;
  padding: 2em 0;
}

.sample_work {
  padding-left: 10em;
}

.sample_work ul > li {
  max-width: 50em;
  display: inline-block;
  list-style: none;
  padding-right: 1em;
  position: relative;
}

.sample_work ul li > p {
  text-align: center;
}



/*  FOOTER PAGE ELEMENTS  */

.social > li {
  display: inline-block;
  margin: 0 1em 0 auto;
  text-align: justify;
}

.bottom_text {
  margin-top: 3em;
  padding: 1em;
}

/*********************************** COLOR, FONT and ALIGNMENT STYLES ***********************************/

/* COLOR CODES
   white - #fff
   nantucket red - #922
   senate blue - #023
   mist gray - #bbb
   pinstripe gray - #404040
   powder gray - #F2F2F2
*/

 /*  HEADER ELEMENT  */

.name_text,
.title_text, 
.bottom_text {
  text-align: center; 
}

.title_text {
  text-shadow: 1px 3px 3px #023;
}

.name_text {
  text-shadow: 0 2px 1px #922;
}

/*  NAVIGATION BAR AND PAGE LINK ELEMENTS  */

.page_links {
  font-size: 1.1em;
  /*font-family: 'Muli','Helvetica', sans-serif;
  font-weight: 400;*/
  font-family: 'Old Standard TT', Helvetica, serif;
  font-weight: 400;
  /*letter-spacing: 0.06em;*/ 
}

.page_links a {
  color: #bbb;
}

.page_links .active a {
  color: #922;
  font-weight: 700;
}

a:hover {
  color: #922;
  font-weight: 700;
}

/*  ABOUT ME Q & A SECTIONS  */

.about_container {
  text-align: left;
}

.intro, 
.location, h1 {
  color: #bbb;
  font-family: 'Muli','Old Standard TT', Helvetica, serif;
  font-weight: 400;
}

.intro,
.location,
.questions > p {
  color: #868686;
  /* Typography Declarations */
  font-family: 'Muli','Helvetica', sans-serif;
  font-weight: 300;
  letter-spacing: 0.06em;  
}

.questions > h2 {
  /* Typography Declarations */
  color: #bbb;
  font-size: 1.3em;
  font-family: 'Muli', 'Old Standard TT', Helvetica, serif;
  font-weight: 400;
}


#linkToTop {
  text-align: center;
  width: 20em;
}


/*  FOOTER PAGE ELEMENTS  */

.bottom_text {
  background: #023;
  padding: 3em;
}

a {
  color: #922;
  text-decoration: none;
}

.bottom_text > p {
  color: #fff;
}

/*  ABOUT ME PAGE  */

.contact_section {
  margin: 5em auto;
  max-width: 45em;
}

.contact_links {
  text-align: center;
}

.social_contact {
  text-align: center;
  list-style: none;
}

.contact_section,
.contact_links,
.social_contact {
  padding: 0;
}




/*********************************** MEDIA QUERIES ***********************************/

@media only screen and (max-width: 500px) {
  .title_banner {
    padding: 3em 0;
  }
  .name_text {
    font-size: 3em;
      
  }
  
  .intro,
  .location,
  .questions {
    padding: 0 2em;
    margin-top: -2em;
    margin-bottom: 0;
  }
  
  .bottom_text {
    text-align: center;
  }
  
  .social li {
    display: block;
    text-align: center;
  }
}







